# Ignorar el contenido de las carpetas pero mantener la estructura
src/puzzlebot_ros2/puzzlebot_description/meshes/base/*
src/puzzlebot_ros2/puzzlebot_description/meshes/wheels/*
src/puzzlebot_ros2/puzzlebot_description/meshes/sensors/*
src/puzzlebot_ros2/puzzlebot_description/meshes/misc/*

# Ignorar contenido de carpetas de código y mapas
src/puzzlebot_ros2/puzzlebot_gazebo/src/*
src/puzzlebot_ros2/puzzlebot_gazebo/include/**/*
src/puzzlebot_ros2/puzzlebot_navigation2/src/*
src/puzzlebot_ros2/puzzlebot_navigation2/maps/*

# Permitir archivos .gitkeep para que Git "vea" las carpetas
!.gitkeep